pandas
numpy
requests
beautifulsoup4
tqdm
yfinance
tensorflow
sqlalchemy
scikit-learn
matplotlib
configparser
python-dotenv
pandas-datareader
selenium
webdriver_manager
ib_insync
pyodbc
spacy
nltk
websockets>=12.0
tf-keras
sentence-transformers
pymupdf
rapidfuzz
transformers
torch
tokenizers
huggingface-hub
safetensors