pandas
numpy<2
requests
beautifulsoup4
tqdm
yfinance
tensorflow
sqlalchemy
scikit-learn
matplotlib
configparser
python-dotenv
pandas-datareader
selenium
webdriver_manager
ib_insync
pyodbc
spacy
nltk
websockets>=12.0
tf-keras
sentence-transformers
pymupdf
rapidfuzz
transformers
tokenizers
huggingface-hub
safetensors

# ---- Torch CPU ONLY ----
torch==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
